ai4water
easy_mpl
SeqMetrics
pandas
scikit-optimize
scikit-learn
tensorflow==1.15
numpy==1.19.5
h5py==2.10
ipython
notebook
protobuf==3.19.1
openpyxl
xgboost
dython
shap==0.41

sphinx<7
sphinx_copybutton
sphinx_toggleprompt
sphinx-prompt
sphinx_rtd_theme
sphinx_issues
sphinx-gallery
nbsphinx

optuna
wandb