git+https://github.com/AtrCheema/AI4Water.git@dev
easy_mpl
SeqMetrics
pandas
scikit-optimize
scikit-learn
numpy
xarray
yellowbrick
netcdf4
ipython
notebook
openpyxl
xgboost
dython
shap

sphinx<7
sphinx_copybutton
sphinx_toggleprompt
sphinx-prompt
sphinx_rtd_theme
sphinx_issues
sphinx-gallery
nbsphinx

optuna
wandb